$burgerbun: sandybrown;
$burgerbunshadow: rgb(189, 126, 71);
$meat: brown;
$lettuce: green;

html {
  box-sizing: border-box;
  background-color: aliceblue;
}

main {
  margin: 0;
  display: flex;
  justify-content: center;
}

.burger {
  padding: 50px 10px 10px;
  height: 375px;
  width: 280px;

  &__top-bun {
    min-height: 70px;
    background-color: $burgerbun;
    border-radius: 70px 70px 0 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 20px;

    & span {
      background-color: rgb(235, 203, 164);
      border-radius: 15px;
      height: 15px;
      min-width: 30px;
      margin: -8px 40px 0px;
    }
  }

  &__cheese {
    min-height: 15px;
    background-color: yellow;
    margin: 0 10px;
  }

  &__tomatoes {
    margin: 0 20px;
    display: flex;
    min-height: 20px;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-color: rgb(255, 0, 0);

    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      min-width: 5px;
      min-height: 20px;
      margin-left: -40%;
      background-color: rgb(255, 255, 255, 0.7);
    }
    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      min-width: 10px;
      min-height: 20px;
      margin-left: -60%;
      background-color: rgb(255, 255, 255, 0.5);
    }
  }

  &__lettuces {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    & span {
      min-height: 30px;
      background-color: $lettuce;
      min-width: 16.6%;
      border-radius: 0px 0px 15px 15px;
      &:first-child {
        border-radius: 15px 0 15px 15px;
      }
      &:last-child {
        border-radius: 0 15px 15px 15px;
      }
    }
  }

  &__patty {
    min-height: 60px;
    background-color: $meat;
    margin: -20px 10px 0;
    border-radius: 40px;
  }

  &__bottom-bun {
    margin: 0 20px;
    position: relative;

    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      min-height: 40px;
      border-radius: 0 0 40px 10px;
      background-color: $burgerbun;
      margin-right: 20%;
      min-width: 80%;
    }

    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      min-height: 40px;
      border-radius: 0 0 40px 10px;
      background-color: $burgerbunshadow;
      min-width: 100%;
    }
  }

  &:hover {
    cursor: pointer;

    .burger__top-bun,
    .burger__cheese,
    .burger__lettuces,
    .burger__tomatoes {
      animation: anime 2s cubic-bezier(0, 1.5, 1, 1.5) infinite;
    }
    .burger__patty {
      animation: animePatty 2s cubic-bezier(0, 1.5, 1, 1.5) infinite;
    }
  }

  @keyframes anime {
    0% {
      margin-bottom: 0;
      margin-top: 0;
    }
    60% {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    100% {
      margin-top: 13px;
      margin-bottom: 0px;
    }
  }

  @keyframes animePatty {
    0% {
      margin-bottom: 0;
      margin-top: 0;
    }
    60% {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    100% {
      margin-top: -10px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 375px) {
  .burger__top-bun--seed {
    margin: -8px 45px 0px;
  }
}
